Ground_Segmentation/build/
Angle/3d_url/
Angle/Ground_Out/
Angle/Rotationz/
Angle/Ground_Segmentation/build/
Angle/Estimate_Normals/.idea
Angle/Estimate_Normals/build
Angle/Estimate_Normals/Normal/
Angle/Estimate_Normals/Normals_Out/
